@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

*::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1;
}



body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  line-height: 1.7 !important;
  color: #c4c3ca !important;
  background-color: #4c507b !important;
  overflow-x: hidden !important;
}
a {
  cursor: pointer !important;
  transition: all 200ms linear !important;
}
a:hover {
  text-decoration: none !important;
}
.link {
  color: #c4c3ca !important;
}
.link:hover {
  color: #ffeba7 !important;
}
p {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 1.7 !important;
}
h4 {
  font-weight: 600 !important;
  color: #4c507b !important;
}
h6 span {
  padding: 0 20px !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
}
.section {
  position: relative !important;
  width: 100% !important;
  display: block !important;
}
.full-height {
  min-height: 100vh !important;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute !important;
  left: -9999px !important;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative !important;
  display: block !important;
  text-align: center !important;
  width: 60px !important;
  height: 16px !important;
  border-radius: 8px !important;
  padding: 0 !important;
  margin: 10px auto !important;
  cursor: pointer !important;
  background-color: #eac3c2 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute !important;
  display: block !important;
  width: 36px !important;
  height: 36px !important;
  border-radius: 50% !important;
  color: #eac3c2 !important;
  background-color: #9591ab !important;
  font-family: "unicons" !important;
  content: url("./photos/left-up.png") !important;
  z-index: 20 !important;
  top: -10px !important;
  left: -10px !important;
  line-height: 36px !important;
  text-align: center !important;
  font-size: 24px !important;
  transition: all 0.5s ease !important;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg) !important;
}

.border-horizontal {
  border-left: var(--bs-border-width) var(--bs-border-style) white !important;
}

.card-body {
  background-color: darksalmon;
  border-radius: 0 0 6px 6px;
}

.exit-button {
  position: absolute;
  top: 1%;
  right: 2%;
}

.card-3d-wrap {
  position: relative !important;
  width: 440px !important;
  max-width: 100% !important;
  height: 400px !important;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  perspective: 800px !important;
  margin-top: 60px !important;
}
.card-3d-wrapper {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  transition: all 600ms ease-out !important;
}
.card-front,
.card-back {
  width: 100% !important;
  height: 100% !important;
  background-color: #9591ab !important;
  background-position: bottom center !important;
  background-repeat: no-repeat !important;
  background-size: 300% !important;
  position: absolute !important;
  border-radius: 6px !important;
  left: 0 !important;
  top: 0 !important;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  -webkit-backface-visibility: hidden !important;
  -moz-backface-visibility: hidden !important;
  -o-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}
.card-back {
  transform: rotateY(180deg) !important;
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg) !important;
}
.center-wrap {
  position: absolute !important;
  width: 100% !important;
  padding: 0 35px !important;
  top: 50% !important;
  left: 0 !important;
  transform: translate3d(0, -50%, 35px) perspective(100px) !important;
  z-index: 20 !important;
  display: block !important;
}

.form-group {
  position: relative !important;
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
}
.form-style {
  padding: 13px 20px !important;
  padding-left: 55px !important;
  height: 48px !important;
  width: 100% !important;
  font-weight: 500 !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0.5px !important;
  outline: none !important;
  color: #4c507b !important;
  background-color: white !important;
  border: none !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2) !important;
}
.form-style:focus,
.form-style:active {
  border: none !important;
  outline: none !important;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2) !important;
}
.input-icon {
  position: absolute !important;
  top: 0 !important;
  left: 18px !important;
  height: 48px !important;
  font-size: 24px !important;
  line-height: 48px !important;
  text-align: left !important;
  color: #ffeba7 !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}

.form-group input:-ms-input-placeholder {
  color: #c4c3ca !important;
  opacity: 0.7 !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}
.form-group input::-moz-placeholder {
  color: #c4c3ca !important;
  opacity: 0.7 !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}
.form-group input:-moz-placeholder {
  color: #c4c3ca !important;
  opacity: 0.7 !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}
.form-group input::-webkit-input-placeholder {
  color: #c4c3ca !important;
  opacity: 0.7 !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}
.form-group input:focus:-ms-input-placeholder {
  opacity: 0 !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}
.form-group input:focus::-moz-placeholder {
  opacity: 0 !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}
.form-group input:focus:-moz-placeholder {
  opacity: 0 !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}
.form-group input:focus::-webkit-input-placeholder {
  opacity: 0 !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
}

.btn {
  border-radius: 4px !important;
  height: 44px !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  -webkit-transition: all 200ms linear !important;
  transition: all 200ms linear !important;
  padding: 0 30px !important;
  letter-spacing: 1px !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-align-items: center !important;
  -moz-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
  -webkit-justify-content: center !important;
  -moz-justify-content: center !important;
  -ms-justify-content: center !important;
  justify-content: center !important;
  -ms-flex-pack: center !important;
  text-align: center !important;
  border: none !important;
  background-color: #eac3c2 !important;
  color: #4c507b !important;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2) !important;
}
.btn:active,
.btn:focus {
  background-color: #102770 !important;
  color: #ffeba7 !important;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2) !important;
}
.btn:hover {
  background-color: #102770 !important;
  color: #ffeba7 !important;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2) !important;
}

.logo {
  position: absolute !important;
  top: 30px !important;
  right: 30px !important;
  display: block !important;
  z-index: 100 !important;
  transition: all 250ms linear !important;
}
.logo img {
  height: 26px !important;
  width: auto !important;
  display: block !important;
}
